body {
  background-color: aliceblue;
}
ul {
  padding: 0px;
}

li {
  list-style: none;
  background-color: purple;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.grid {
  display: grid;
  background-color: orange;
  margin: 10px;
  padding: 7px;
  text-align: center;
}
.inlineGrid {
  display: inline-grid;
  background-color: orange;
  margin: 10px;
  padding: 7px;
  text-align: center;
}
.columnsGrid {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  background-color: orange;
  margin: 10px;
  padding: 7px;
}

.rowsGrid {
  display: grid;
  grid-template-rows: 50px 100px 1fr;
  grid-template-columns: auto auto auto auto;
  background-color: orange;
  margin: 10px;
  padding: 7px;
}

.stretch {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  background-color: orange;
  margin: 10px;
}
